@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

header {
  background-color: darkred;
  opacity: 0.8;

  display: inline-block;

  width: 100%;
}

nav {
  float: right;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
}

nav ul li a{
  text-decoration: none;
  color: wheat;
}

#current {
  color: grey;
}