@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
  margin: 0px;
}

body {
  background-color: black;

  font-family: 'Montserrat', sans-serif;
  color: white;

  margin: 0px;
  top: 0px;
}

header {
  background-color: darkred;
  opacity: 0.8;

  float: left;

  width: 100%;

  margin: 0px;
  top: 0px;
}

nav {
  float: right;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
}

nav ul li a{
  text-decoration: none;
  color: wheat;
}

#title {
  font-family: 'Raleway', serif;
}

#current {
  color: grey;
}