@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  color: wheat;
}

nav {
  background-color: maroon;
  opacity: 0.2;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
}